#blad_group {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: 3px solid red;
    color: black;
    padding: 10px;
}
#label_color{
    color: white;
    padding-bottom: 10px;
}
#search{
    border-radius: 50px;
}
button#login {
    margin-top: 7px;
    color: white;
}
/** login style css **/
#login .container #login-row #login-column #login-box {
    margin-top: 60px;
    max-width: 660px;
    height: 410px;
    background-color: #e8e5e5;
    padding: 25px;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
  /** Register **/
  #regi_form_design{
    background: #2accc4;
    padding: 15px;
    border: 2px solid #3aa090;
    color: black;
    margin-top: 30px;
  }
  #name{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: 1px solid red;
    padding: 10px;
    font-size: 19px;
    color: black;
  }
  #email{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: 1px solid red;
    padding: 10px;
    font-size: 19px;
    color: black;
  }
  #password{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: 1px solid red;
    padding: 10px;
    font-size: 19px;
    color: black;
  }
  #password_confirmation{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: 1px solid red;
    padding: 10px;
    font-size: 19px;
    color: black;
  }
  #blood_group{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: 1px solid red;
    padding: 10px;
    font-size: 19px;
    color: black;
  }
  #phone_number{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: 1px solid red;
    padding: 10px;
    font-size: 19px;
    color: black;
  }
  #divition{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: 1px solid red;
    padding: 10px;
    font-size: 19px;
    color: black;
  }
  #district{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: 1px solid red;
    padding: 10px;
    font-size: 19px;
    color: black;
  }
  #upazila{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: 1px solid red;
    padding: 10px;
    font-size: 19px;
    color: black;
  }
  #local_area{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: 1px solid red;
    padding: 10px;
    font-size: 19px;
    color: black;
  }
  #association{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: 1px solid red;
    padding: 10px;
    font-size: 19px;
    color: black;
  }
  button#reg_button {
    border-radius: 50px;
}
/** Login Css **/
#password_login{
  width: 100%;
    height: 50px;
    border-radius: 50px;
    border: 1px solid red;
    padding: 10px;
    font-size: 19px;
    color: black;
}
#username{
  width: 100%;
  height: 50px;
  border-radius: 50px;
  border: 1px solid red;
  padding: 10px;
  font-size: 19px;
  color: black;
}
/*User Blood card css*/
.card_style {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

#card_button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
/*user profile css*/
i.fa.fa-user {
  font-size: 20px;
  padding: 0px 5px;
  color: white;
}
#userAccount{
  border-radius: 25px;
}
/*User dashboard css*/
/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
